<h1>Задание</h1>
<p>
Реализуйте на Rails приложение со следующими сценариями:
<ul>
	<li>- участник задает вопрос</li>
	<li>- участник дает ответ</li>
	<li>- участник предлагает правку к ответу</li>
	<li>- автор ответа принимает правку</li>
	<li>- участник может просмотреть изменения</li>
</ul>
<a href="description">Верстка и пояснения сценариев</a>
</p>


