<div class="w-form">
<form >
<label for="field-4">Дать ответ:</label>
<textarea class="w-input" data-name="Field 4" id="field-4" maxlength="5000" name="field-4" placeholder="На Октябрьской рядом с южным выходом между полицейской будкой и трещиной в стене есть полуржавая дверь, которая временами бывает открытой. За не лежат утерянные архивы Ленинки, точнее их часть, которую обнаружили диггеры во время Большого подкопа" required="required"></textarea><input class="w-button" data-wait="Please wait..." type="submit" value="Ответить"></form>

</div>